/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(59, 69, 59);
}

/* Estilos generales */
header {
    background-color: #333;
    color: aqua;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: aquamarine;
    text-decoration: none;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .title {
        font-size: 1.2rem; /* Reducir el tamaño del título en pantallas más pequeñas */
    }

    .nav-links {
        flex-direction: column; /* Mostrar los enlaces en una columna en pantallas más pequeñas */
        margin-top: 10px; /* Agregar espacio entre los enlaces */
      
            display: none;/*LO OCULTA*/
            flex-direction: column;
            position: absolute;
            top: 70px;
            background-color: #333;
            width: 100%;
       
    }


    .nav-links li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .nav-links li a {
        color: #fff;
    }

    .nav-active {
        display: flex;
    }
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
  

}

section{
    background-color: #333;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: aqua;
}
h5{
    text-transform: uppercase;
    margin-bottom: 2%;
    font-size: larger;
}
p{
    color: beige;
}
.imglogo {
    width: 10%; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}


.contact{
display: contents;
}
#servicios {
    display: block;
}

.servicios-container {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se ajusten a la línea si no caben en una sola fila */
}

.servicios-container article {
    flex-basis: calc(25% - 20px); /* Para que los artículos ocupen el 25% del ancho del contenedor, con 20px de margen entre ellos */
    margin: 10px; /* Espacio entre los artículos */
    background-color: #f9f9f916;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25a6f0;
    color: #070d10ef;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: right;
  }
  
  .btn:hover {
    background-color: #070d10ef;
    color: #1e87d2;
  }
  
  /* Estilo para el botón de WhatsApp */
  #button-whatssapp {
    background-color: #25d366; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    flex: 1; /* Hace que los botones se ajusten al espacio disponible */
    margin: 5px; /* Agrega un margen para separar los botones */
  }
  
  #button-whatssapp:hover {
    background-color: #128c7e; /* Cambio de color al pasar el ratón */
  }
  
  #button-facebook {
    background-color: #2556d3; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    flex: 1; /* Hace que los botones se ajusten al espacio disponible */
    margin: 5px; /* Agrega un margen para separar los botones */
  }
  
  #button-facebook:hover {
    background-color: #12678c; /* Cambio de color al pasar el ratón */
  }
  
  #youtube-button {
    background-color: #9a0000; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    flex: 1; /* Hace que los botones se ajusten al espacio disponible */
    margin: 5px; /* Agrega un margen para separar los botones */
  }
  
  #youtube-button:hover {
    background-color: #e01313; /* Cambio de color al pasar el ratón */
  }
  
  #button-correo {
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color de texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    flex: 1; /* Hace que los botones se ajusten al espacio disponible */
    margin: 5px; /* Agrega un margen para separar los botones */
  }
  
  #button-correo:hover {
    background-color: #545454; /* Cambio de color al pasar el ratón */
  }
  
  #button-instagram {
    background-color: #6500a9; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    flex: 1; /* Hace que los botones se ajusten al espacio disponible */
    margin: 5px; /* Agrega un margen para separar los botones */
  }
  
  #button-instagram:hover {
    background-color: #7d00ea; /* Cambio de color al pasar el ratón */
  }
  
  #list-contact {
    display: flex;
    flex-wrap: wrap;
  }
footer{
background-color: black;
color: aliceblue;
}
h6{
    font-size: large;
    color: #05e231;
}

